@font-face {
font-family: "exo-regular";
src: url("fonts/Exo-Regular.otf");
}
@font-face {
font-family: "agero";
src: url("fonts/agero.ttf");
}
@font-face {
font-family: "Ceria Lebaran";
src: url("fonts/Ceria Lebaran.otf");
}