
/*--------------- ESTILO INDEX ----------*/
.logo_container{
    border: 1px solid cyan;
    margin: auto;
    width: 500px;
    margin-top: 50px;
}

.logo_img{
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 500px;
}

.toolbar + #central {
    padding-top: 102px;
}
#welcome{
    width: 600px;
    height: 100px;
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px solid blue;
    margin-left: auto;
    margin-right: auto;

}
body{
    padding-top: 90px;
    margin: 0;
    height: 100%;

}
#central{
    border: 0px solid red;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url('../img/largebg.jpg');
    text-align: center;
}
#central-menu{
    border: 0px solid red;
    width: 100%;
    height: 100px;
}
#welcometext{
    font-family: Exo;
    font-size: 30px;
    text-align: center;
    font-size-adjust: auto;
    padding-top: 35px;
    padding-bottom: 35px;
    color:#467E60;
}
#destacados{
    width: 100%;
    height: 550px;
    border: 2px solid lightgray;

}
#destacados-in{
    width: 85%;
    height: 450px;
    border: 1px solid red;
    margin: auto;
    margin-top: 10px;
    background-color: #AAFFD6;
    border-radius: 30px;
}
#destacados-in-box{
    width: 76%;
    height: 350px;
    border: 1px solid cyan;
    margin: auto;
    margin-top: 50px;
}
#destacados-txt{
    font-family: Exo;
    font-size: 30px;
    color:#467E60;
    margin-top: 50px;
    margin-left: 600px;
}
#destacado1{
    width: 200px;
    height: 350px;
    border-radius: 20px;
    border: 2px solid gray;
    float: left;
    margin-right: 50px;
}
#destacado2{
    width: 200px;
    height: 350px;
    border-radius: 20px;
    border: 2px solid gray;
    float: left;
    margin-right: 50px;
}
#destacado3{
    width: 200px;
    height: 350px;
    border-radius: 20px;
    border: 2px solid gray;
    float: left;
    margin-right: 50px;
}
#destacado4{
    width: 200px;
    height: 350px;
    border-radius: 20px;
    border: 2px solid gray;
    float: left;

}

