.conten-metodo-despacho{
    width: 1000px;
    height: 220px;
    float: left;
    
    margin-top: 20px;
    margin-left: 100px;
    text-align: left;
    border: 0px solid red;
}
.conten-metodo-pago{
    width: 1000px;
    height: 100px;
    float: left;
    
    margin-top: 20px;
    margin-left: 100px;
    text-align: left;
    border: 0px solid red; 
}
.conten-acuerdo{
    width: 1000px;
    height:200px;
    float: left;
    margin-top: 20px;
    margin-left: 100px;
    text-align: left;
    border: 0px solid red; 
}
.cb-acuerdo{
     margin-left: 250px;
}
.conten-comentarios{
    width: 600px;
    border: 0px solid red;
    margin-left: 0px;
    margin: auto;
}
.txtComentario{
    width: 500px;
    height: 30px;
    font-family: calibri;
    font-size: 20px;
    color: gray;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid gray;
    outline: none;
}
.lbl-acuerdo{
    font-family: calibri;
    font-size: 20px;
    color: gray;
    margin-left: 10px;
}
#domicilio{
    margin-right: 10px;
}
#metro{
    margin-left: 270px;
}
.txtDireccion{
  width: 280px;
  height: 30px;
  font-family: Calibri;
  font-size: 20px;
  color: #666666;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  float: left;
  margin-top: 2px;
}
.tyc-envios{
    text-decoration: underline;
    float: left;
    font-family: calibri;
    font-size: 20px;
    margin-top: 100px;
    margin-left: -280px;
    cursor: pointer;
    color: #008065;
}

.tyc-metros{
    text-decoration: underline;
    float: right;
    font-family: calibri;
    font-size: 20px;
    margin-top: 10px;
    margin-left: -280px;
    cursor: pointer;
    color: #008065;
}


.conten-info-completado{
    width: 800px;
    height: 70px;
    text-align: center;
    display: inline-block;
    margin-top: 20px
}
.conten-info-completado.detalles{
    height: 100px;
    text-align: center;
    display: inline-block;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.conten-pagar-pedido{
    width: 1000px;
    height: 200px;
    float: left;
    margin-left: 100px;
    text-align: left;
    align-content: center;
    margin-top: 0px;
}

.conten-mis-pedidos-pedido{
    width: 1000px;
    height: 100px;
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
    
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.45);
}

.conten-mis-pedidos-left{
    width: 200px;
    text-align: left;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}

.conten-mis-pedidos-left.coste{
    background-color: #f4f4f4;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    
}
.conten-mis-pedidos-right{
    width: 300px;
    text-align: left;
    float: right;
    margin-top: 10px;
}
.conten-img-productos{
    text-align: left;
    float: left;
    margin-top: 30px;
    border: 1px solid lightgray;
}
.imagen-mis-pedidos{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 5px;
}